* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.text-caps {
  text-transform: uppercase;
}

.text-white {
  color: #ffff;
}

.text-green {
  color: lightgreen;
}

header .container {
  width: 100%;
  height: 25px;
  background-color: #1089F8;
}

header .container .container-top-bar {
  width: 80%;
  margin: 0 auto;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container .container-top-bar p {
  margin-left: 50px;
  font-size: 0.7em;
  color: #ffff;
}

header .container-big .container-nav {
  width: 80%;
  margin: 0 auto;
}

header .container-big .container-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header .container-big .container-nav ul li {
  cursor: pointer;
  border-bottom: 3px solid #ffff;
}

header .container-big .container-nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header .container-big .container-nav ul li.text {
  padding: 41px 0;
}

header .container-big .container-nav ul li.active {
  border-bottom: 3px solid #1089F8;
}

header .container-big .container-nav ul li img {
  height: 100px;
  margin-right: 50px;
  padding: 10px 0;
}

header .container-big .container-nav ul li input {
  border: none;
  border-bottom: 2px solid #1089F8;
  text-align: right;
}

header .jumbo {
  width: 100%;
  height: 400px;
}

.home-main {
  background-color: #1C1C1C;
}

.home-main .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.home-main .container .over-text {
  position: absolute;
  top: -7%;
  left: 5%;
  width: 300px;
  height: 80px;
  background-color: #1089F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main .container .over-text h1 {
  color: #ffff;
}

.home-main .container .card {
  width: calc(100%/6 - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.home-main .container .card h5 {
  color: #ffff;
  margin-top: 10px;
}

.home-main .container button.btn-page-blue {
  background-color: #1089F8;
  color: #ffff;
  border: none;
  padding: 10px 30px;
  margin-bottom: 25px;
  font-size: 1.2em;
}

.main-infos .bluebar {
  height: 100px;
  background-color: #1089F8;
  position: relative;
}

.main-infos .bluebar img {
  position: absolute;
  left: 10%;
  top: -220px;
}

.main-infos .container-infos {
  background-color: #ffff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.main-infos .container-infos .left-main {
  width: 60%;
}

.main-infos .container-infos .left-main .green-bar {
  height: 50px;
  background-color: green;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 25px;
}

.main-infos .container-infos .left-main .green-bar .left-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.main-infos .container-infos .left-main p.desc {
  margin: 20px 0;
  color: gray;
}

.main-infos .container-infos .right-adv {
  height: 200px;
  width: 40%;
}

.main-infos .container-infos h2 {
  margin-top: 50px;
  color: #1089F8;
}

.main-infos .container-infos-specs {
  background-color: lightgray;
}

.main-infos .container-infos-specs .container {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-infos .container-infos-specs .container .left-specs {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main-infos .container-infos-specs .container .left-specs .specs-names {
  display: flex;
  width: 100%;
  padding-top: 25px;
}

.main-infos .container-infos-specs .container .left-specs .specs-names .spec-title {
  width: 25%;
}

.main-infos .container-infos-specs .container .left-specs .specs-names .artists {
  width: 75%;
}

.main-infos .container-infos-specs .container .right-specs {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main-infos .container-infos-specs .container .right-specs .specs-names {
  display: flex;
  width: 100%;
  padding-top: 25px;
}

.main-infos .container-infos-specs .container .right-specs .specs-names .spec-title {
  width: 25%;
}

.main-infos .container-infos-specs .container .right-specs .specs-names .artists {
  width: 75%;
}

footer {
  height: 400px;
}

footer .footer-top {
  height: 80%;
}

footer .footer-bot {
  height: 20%;
  background-color: gray;
}

