* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container {
  width: 100%;
  height: 25px;
  background-color: #1089F8;
}

header .container .container-top-bar {
  width: 80%;
  margin: 0 auto;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container .container-top-bar p {
  margin-left: 50px;
  font-size: 0.7em;
  color: #ffff;
}

header .container-big .container-nav {
  width: 80%;
  margin: 0 auto;
}

header .container-big .container-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header .container-big .container-nav ul li {
  cursor: pointer;
}

header .container-big .container-nav ul li.text {
  padding: 41px 0;
}

header .container-big .container-nav ul li.active {
  border-bottom: 3px solid #1089F8;
}

header .container-big .container-nav ul li img {
  height: 100px;
  margin-right: 50px;
  padding: 10px 0;
}

header .container-big .container-nav ul li input {
  border: none;
  border-bottom: 2px solid #1089F8;
  text-align: right;
}

header .jumbo {
  width: 100%;
  height: 400px;
}

